version: "3.8"

services:
  fe:
    build:
      context: .
      dockerfile: dockerfile.dev
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
